/**
* 
* @autor Gerson Alexander Pardo Gamez
*
**//*
@import "bootstrap/bootstrap.less";
*//* base *//* 
    borders
*//* 
    shadow
*//* 
   text-shadow.css
*//* 
   gradients
*//* template */body {
  font-family: Tahoma, Verdana, Arial;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HandleeRegular', Tahoma;
}
hr {
  background: #fff;
  border: #fff;
  border-top: 4px dashed #ddd;
  margin: 4px 0px 4px 0px;
  padding: 0px;
}
.right {
  float: right;
}
.right-image {
  display: block;
  float: right;
  border: 1px solid #D4D4D4;
}
a {
  color: #00b6e4;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  color: #00b6e4;
  text-decoration: underline;
  outline: none;
}
a:active, a:visited {
  color: #00b6e4;
  outline: none;
}
dl dt {
  color: #00b6e4;
}
a img, map area {
  border: none;
  outline: none;
}
a img:hover, map area:hover {
  border: none;
  outline: none;
}
img {
  background: url(../images/photo_bg.png) no-repeat center center;
}
.button-black {
  display: block;
  float: right;
  color: #f4f4f4;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: #222;
  box-shadow: inset 0 1px 3px black, inset 0 -15px #111111, 0 0 3px #444444;
}
.button-black:hover {
  color: #fff;
  border: 1px solid black;
}
table {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
  position: relative;
  border-collapse: collapse;
}
table thead tr th {
  border: 1px solid #d4d4d4;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #f4f4f4;
  color: #333;
  padding: 5px;
}
table tbody tr td {
  border: 1px solid #d4d4d4;
  text-align: center;
  color: #555;
  padding: 5px;
}
table tbody tr td.available {
  background-color: #92ff9c;
}
table tfoot {
  font-size: 11px;
  text-align: center;
  color: #777;
}
@font-face {
  font-family: 'HandleeRegular';
  src: url('../font/handlee-regular-webfont.eot');
  src: url('../font/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/handlee-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#header-bg {
  width: 100%;
  display: block;
  z-index: 20;
  position: relative;
}
#header-bg #header {
  width: 950px;
  position: relative;
  text-align: left;
  margin: 0 auto;
  z-index: 20;
}
#logo {
  width: 250px;
  background: url(../images/photo_logo.png) 0px 15px no-repeat;
  padding-left: 55px;
}
#logo h1 {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 40px;
}
#header:hover #logo {
  background: url(../images/photo_logo_h.png) 0px 15px no-repeat;
}
#menu {
  list-style: none;
  padding: 5px;
  padding-left: 0px;
  margin: 0px;
}
#menu li {
  float: none;
  display: inline-block;
  position: relative;
}
#menu li a {
  font-family: 'HandleeRegular', Tahoma;
}
#menu li a {
  display: block;
  padding: 4px 8px 4px 8px;
  margin-right: 6px;
  color: #666;
  font-weight: bold;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid transparent;
}
#menu li a:hover {
  border-radius: 30px;
  border: 1px solid #00b2de;
  background-color: #00deff;
  box-shadow: inset 0 1px 3px #4edbff, inset 0 -15px #00ccff, 0 0 3px #00b2de;
  color: #f4f4f4;
}
#menu li.active a {
  border-radius: 30px;
  border: 1px solid #00b2de;
  background-color: #00deff;
  box-shadow: inset 0 1px 3px #4edbff, inset 0 -15px #00ccff, 0 0 3px #00b2de;
  color: #f4f4f4;
}
#menu li.active ul a {
  color: #f4f4f4;
  font-size: 12px;
  padding: 0px;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: normal;
  margin-right: 0px;
  display: inline-block;
  border: none;
  vertical-align: top;
  background: none;
  box-shadow: none;
}
#menu li ul {
  display: none;
  position: absolute;
  top: 29px;
  left: 0px;
  z-index: 30;
  width: 200px;
  box-shadow: 0px 0px 5px #333;
  background: #000;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  opacity: 0.8;
  list-style-image: url(../images/li/photo.png);
  list-style-position: inside;
}
#menu li ul li {
  padding: 4px 6px 6px 8px;
  display: list-item;
}
#menu li ul li a {
  color: #f4f4f4;
  font-size: 12px;
  padding: 0px;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: normal;
  margin-right: 0px;
  display: inline-block;
  border: none;
  vertical-align: top;
}
#menu li ul li a:hover {
  text-decoration: none;
  box-shadow: none;
  background: none;
  border: none;
  border-radius: 0px;
  color: #fff;
}
#menu li ul li:hover {
  text-decoration: none;
  background: #555;
}
#menu li:hover ul {
  display: block;
}
#top-info {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #f1f1f1;
  border-radius: 5px ;
  padding: 10px;
}
#top-info div {
  margin-bottom: 5px;
}
#top-info div.last {
  margin-bottom: 0px;
}
#social-icons {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#social-icons img {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  background: none;
  border: none;
}
#container-bg {
  width: 100%;
  display: block;
}
#container-bg #container {
  padding: 10px;
  width: 950px;
  position: relative;
  text-align: left;
  margin: 0 auto;
}
#container .welcome {
  font-size: 13px;
  color: #555;
  padding: 10px;
}
#container .portal {
  padding: 10px;
}
#container .portal .slide {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 40px #666;
  height: 430px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
}
#container .portal .slide .info {
  display: none;
  text-align: right;
  padding: 20px;
  color: #fff;
  float: right;
  height: 100%;
  position: relative;
  z-index: 4;
}
#container .portal .slide .info p {
  margin: 10px 10px 10px auto;
  padding: 10px;
}
#container .portal .slide .info a {
  text-decoration: none;
}
#container .portal .slide .info a h2 {
  color: #fff;
  padding: 10px 0px 5px 10px;
  margin: 0px;
  font-size: 30px;
}
#container .portal .slide .info a em {
  font-size: 12px;
  color: #999;
}
#container .portal .slide .info p {
  width: 450px;
}
#container .portal .slide .background {
  display: none;
  width: 100%;
  box-shadow: inset 0px 0px 10px #000;
  background: #000;
  position: absolute;
  opacity: 0.6;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100%;
}
#container .portal .slide img {
  display: block;
  width: 100%;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#container .portal .slide:hover .info {
  display: block;
}
#container .portal .slide:hover .background {
  display: block;
}
#container .module {
  margin-top: 20px;
}
#container .module h3 {
  font-size: 18px;
  padding: 5px;
  margin: 0px;
  text-align: center;
}
#container .module .cite {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
  background: #333;
  border-radius: 5px;
  color: #999;
  display: block;
  font-family: 'HandleeRegular', Tahoma;
  font-size: 16px;
  height: 80px;
  box-shadow: inset 0px 0px 10px #222;
}
#container .module .cite strong {
  color: #f4f4f4;
}
#container .module .cite p {
  margin: 0px;
  padding: 5px;
}
#container .module .cite em {
  font-size: 70px;
  font-weight: bold;
  font-family: garamount;
  margin: 0px;
  padding: 5px;
  color: #666;
}
#container .module .cite em.right {
  float: right;
  top: -40px;
  position: relative;
}
#container .module .cite em.left {
  float: left;
}
.portfolio {
  list-style: none;
}
.portfolio li {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  text-align: center;
  position: relative;
}
.portfolio li a {
  text-decoration: none;
  font-size: 14px;
  width: 260px;
  font-weight: bold;
  display: block;
}
.portfolio li a span {
  display: block;
  padding: 5px;
  text-align: center;
}
.portfolio li img {
  width: 100%;
  height: 150px;
}
#footer-bg {
  width: 100%;
  display: block;
  background: #f4f4f4;
}
#footer-bg #footer {
  padding: 10px;
  width: 950px;
  position: relative;
  text-align: left;
  margin: 0 auto;
}
#footer #creditos {
  margin-top: 20px;
  padding-top: 10px;
  background: #fff;
  display: block;
  text-align: center;
  color: #666;
  border-radius: 5px;
}
#footer .modules {
  display: inline-block;
  width: 100%;
}
#footer .module {
  width: 20%;
  display: block;
  float: left;
  margin-right: 10px;
}
#footer .module.medium {
  margin-right: 20px;
  width: 25%;
}
#footer .module .title {
  display: block;
}
#footer .module .title h3 {
  padding: 5px;
  margin: 0px;
}
#footer .module dt {
  text-indent: -999px;
}
#footer .module .tweet {
  display: block;
  padding: 5px 3px 8px 3px;
  border-bottom: 1px dashed #999;
  margin-left: 0;
}
#footer .module .tweet p {
  font-size: 12px;
  color: #444;
  padding: 3px;
  margin: 0px;
}
#footer .module .tweet em.ago {
  color: #999;
  margin-bottom: 5px;
  position: relative;
}
#footer .module .icon {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-right: 5px;
}
#footer .module .icon.twitter {
  background: url(../images/services/news.png) no-repeat;
}
#footer .module .icon.jobs {
  background: url(../images/services/jobs.png) no-repeat;
}
#footer .module .icon.links {
  background: url(../images/services/links.png) no-repeat;
}
#footer .module .icon.services {
  background: url(../images/services/services.png) no-repeat;
}
#footer .module .container .links {
  list-style-image: url(../images/li/link.png);
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
#footer .module .container .links li span {
  vertical-align: top;
  top: 4px;
  position: relative;
}
#footer .module .container .services {
  list-style-image: url(../images/li/photography.png);
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
#footer .module .container .services li span {
  vertical-align: top;
  top: 4px;
  position: relative;
}
#footer .module .container .services ul {
  list-style-image: url(../images/li/photo.png);
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  margin-left: 25px;
}
#footer .module .container .mini-galery {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}
#footer .module .container .mini-galery li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
#footer .module .container .mini-galery li a {
  display: block;
}
#footer .module .container .mini-galery li a img {
  width: 100px;
  height: 80px;
}
