/* 
    Document   : estilo
    Created on : 08/12/2011, 08:35:13 AM
    Author     : Gerson
*/
/* body */
body { 
    font-size: 100%;
    background: #222;
    /*  font-family: "Viga";*/
    font-family: Tahoma,Arial,Verdana;
    margin: 0;
    padding: 0;
}
/* fuentes */
@font-face{
    font-family: "Engagement";
    /*src: url("../font/Engagement-Regular.woff");*/
    src: url('../font/engagement-regular-webfont.eot');
    src: url('../font/engagement-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/engagement-regular-webfont.ttf') format('truetype');
}
@font-face{
    font-family: "Viga";
    /*src: url("../font/Viga-Regular.woff");*/
    src: url('../font/viga-regular-webfont.eot');
    src: url('../font/viga-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/viga-regular-webfont.ttf') format('truetype');
}
@font-face{
    font-family: "TahomaUI";
    /*src: url("../font/tahoma-webfont.woff");*/
    src: url('../font/tahoma-webfont-webfont.eot');
    src: url('../font/tahoma-webfont-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/tahoma-webfont-webfont.ttf') format('truetype');
}
/* links */
a,a:link{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: white;
}
a:focus,a:active,a:visited{
    text-decoration: none;
    color: white;
}
/* titulos */
h1,h2,h3{
    font-family: "Engagement";
    line-height:70%;
    text-align: center;
    color: #444;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
    text-align: left;
}
/* estructura */
.contenedor{
    text-align: justify;
    width: 750px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    color:  #777;
    background: #f4f4f4;
    font-size: 0.9em;
    opacity: 0.97;
}
.contenedor a{
    color: #444;
}
.portada{
    width: 800px;
    height: 250px;
    margin: 5px;
    border: 5px solid #fff;
    margin:0 auto;
    background: url("../images/9383e16992bf59510f47d5739a282e05-pdyqo5.jpg") center;
}
.titulo{
    font-size: 5em;
    margin: 0;
    padding: 0;
    padding-top:20px; 
    color: #fff;
    opacity: 0.9
}
.subtitulo{
    font-family: "Engagement";
    font-size: 1.8em;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 80%;
    font-style: normal;
    opacity: 0.7;
    color:  #fff;
}
.letra{
    font-family: "Viga";
    /*  font-family: "Engagement";*/
    font-size: 4em;
    margin: 0px;
    padding: 0px;
    float: left;
    color: #01ced1;
    padding-right: 5px;
    padding-top: 2px;
    line-height: 85%;
}
.menu-contenedor{

    padding: 10px;
    opacity: 0.9;
    box-shadow: 0px 0px 80px #333;
    background: #333;
    width: 790px;
    margin: 0 auto;
}
.menu{
    list-style: none;
    height:22px;

}
.menu li{
    float:left;
}


.menu{
    font-family: "Viga";
    color:#fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 520px;

}
.menu a,
.menu em{
    font-size: 1.2em;
    opacity: 0.7;
}
.menu a:hover,
a.de{
    color: #fff;
    opacity: 1;
}
.menu-footer{
    width: 650px;
    display: block;
    margin: 0 auto;
    text-align: right;
    padding: 10px;
}
.menu-footer a{
    font-size: 1.2em;
    font-weight: normal;
}
.menu-footer a:hover{
    color: #01ced1;
}
.creditos{
    text-align:center;
    font-weight: normal;
    font-size: 0.8em;
}
em.cita{
    margin:5px;
    margin-left: 50px;
    text-align: left;
    padding: 10px;
    background: #333;
    color: #fff;
    display: block;
}
em.tiempo{
    font-size: 0.8em;
}
.opiniones{
    width:99%;
    background: #333;
    padding: 10px;
    margin: 0 auto;
}
.galeria{
    text-align: left;
    /*  border: 1px solid #d4d4d4;*/
}
.imagen{
    width: 95%;
    margin: 5px;
    height: 180px;
    padding: 10px;
    border: 1px solid #d4d4d4;
    background: url(../images/1323449603_photo.png) center no-repeat;
}/*
.galeria .imagen{
    width: 20%;
    display: inline-block;
    float: left;
}*/
.minigaleria{
    margin-top: 10px;
}
.minigaleria .mini{
    width: 100px;
    height: 130px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.galeria .normal{
    width: 170px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.minigaleria .mini .imagen{
    height: 70px;
    width: 70px;
    padding: 5px;
}
.galeria{
    display: block;
    width: 100%;
}
.galeria .normal .imagen{
    height: 150px;
    width: 150px;
    padding: 5px;
}
.mural .imagen{
    display: inline-block;
    float: left;
}
.mural {
    display: block;
    height: 570px;
    width: 650px;
    margin: 0 auto;
}
/*
#inicio,
#galeria,
#quienes,
#servicios,
#contactar{
 
}
*/
#inicio .contenedor,
#galeria .contenedor,
#quienes .contenedor,
#servicios .contenedor,
#contactar .contenedor{
    border-bottom: 1px solid #d4d4d4;
    border-top: 6px solid #d4d4d4;
}
/*     */
#inicio:hover{
    background: #01ced1;
}
#galeria:hover{
    background: #e1006a;
}
#quienes:hover{
    background: #4edc00;
}
#servicios:hover{
    background: #0066ff;
}
#contactar:hover{
    background: #e16a00;
}
#galeria:hover a,
#galeria:hover a:link,
#galeria:hover a:hover,
#galeria:hover a:focus,
#galeria:hover a:active,
#galeria:hover a:visited,
#galeria:hover h1,
#galeria:hover h2,
#galeria:hover h3,
#galeria:hover .titulo,
#galeria:hover .letra,
#galeria:hover .menu a:hover,
#galeria:hover a.de,
#galeria:hover .menu-footer a:hover{
    color: #e1006a;
}
#quienes:hover a,
#quienes:hover a:link,
#quienes:hover a:hover,
#quienes:hover a:focus,
#quienes:hover a:active,
#quienes:hover a:visited,
#quienes:hover h1,
#quienes:hover h2,
#quienes:hover h3,
#quienes:hover .titulo,
#quienes:hover .letra,
#quienes:hover .menu a:hover,
#quienes:hover a.de,
#quienes:hover .menu-footer a:hover{
    color: #4edc00;
}
#servicios:hover a,
#servicios:hover a:link,
#servicios:hover a:hover,
#servicios:hover a:focus,
#servicios:hover a:active,
#servicios:hover a:visited,
#servicios:hover h1,
#servicios:hover h2,
#servicios:hover h3,
#servicios:hover .titulo,
#servicios:hover .letra,
#servicios:hover .menu a:hover,
#servicios:hover a.de,
#servicios:hover .menu-footer a:hover{
    color: #0066ff;
}
#contactar:hover a,
#contactar:hover a:link,
#contactar:hover a:hover,
#contactar:hover a:focus,
#contactar:hover a:active,
#contactar:hover a:visited,
#contactar:hover h1,
#contactar:hover h2,
#contactar:hover h3,
#contactar:hover .titulo,
#contactar:hover .letra,
#contactar:hover .menu a:hover,
#contactar:hover a.de,
#contactar:hover .menu-footer a:hover{
    color: #e16a00;
}
.izquierda{
    text-align: right;
    float: right;
}
/* estructura */
/*
#galeria:hover .contenedor{
    color:  #777;
}
#galeria:hover .subtitulo{
    color:  #999;
}
#galeria:hover .menu{
    color:#555;
}
#galeria:hover em.cita{
    background: #333;
    color: #fff;
}
#galeria:hover .opiniones{
    background: #111;
}
#galeria:hover .portada{
    border: 5px solid #333;
}*/
