 body{
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    
}

h1,h2,.h2,h3,h4,h5,h6 {
    font-family: 'HandleeRegular', Tahoma;
}
.h2{
    font-size: 20px;
    padding:5px;
    margin: 0px;
    margin-top: 20px;
    font-weight: bold;
}

hr{
    background: #fff;
    border: #fff;
    border-top: 4px dashed #ddd;
    margin: 4px 0px 4px 0px;
    padding: 0px;
}
.right{
    float: right;
  
}
.right-image{
    display: block;
    float: right;
    border: 1px solid #D4D4D4;
  
}
a{
    color: #00b6e4;
    text-decoration: none;
    outline: none;
    &:hover,&:focus{
        color: #00b6e4;
        text-decoration: underline;
        outline: none;
        
    }
    &:active,&:visited{
        color: #00b6e4;
        outline: none;
        
    }
}

dl dt{
    color: #00b6e4;
}

a img, map area{
    border: none;
    outline: none;
    
    &:hover{
     border: none;
     outline: none;
    }
}
img{
    background: url(../../images/photo_bg.png) no-repeat center center;
}

.button-black{
    display: block;
    
    float: right;
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #222;
    box-shadow: inset 0 1px 3px #000000, inset 0 -15px #111, 0 0 3px #444444;


    &:hover{
        color: #fff;
        border: 1px solid black;
        

    }
}

table{

    width: 100%;
    display: block;
    margin: 0 auto;
    padding:50px;
    margin-bottom:50px;
    margin-top:80px;
    position: relative;
    border-collapse: collapse;
    caption{

    }

    thead{
        tr{
            th{
                border: 1px solid #d4d4d4;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                background: #f4f4f4;
                color: #333;
                padding:5px;
            }
        }
    }

    tbody{
        tr{
            td{
                border: 1px solid #d4d4d4;
                text-align: center;
                color:#555;
                padding:5px;

                &.available{
                    background-color: #92ff9c;
                }
            }

        }
    }

    tfoot{
        font-size: 11px;
        text-align:center;
        color: #777;
    }
}