
#container-bg{
    width: 100%;
    display: block;

    #container{
        padding: 10px;
        width: 950px;
        position: relative;
        text-align: left;
        //background: red;
        margin: 0 auto;
    }

}
#container{
   
     .welcome{
            font-size: 13px;
            color: #555;
            padding: 10px;    
     }
     
     .portal{
        padding: 10px;
      

        .slide{
            position: relative;
            width:100%;
            box-shadow: 0px 0px 40px #666;
            height: 430px;
            border: 1px solid #d4d4d4;
            overflow: hidden;
            .info{
                display: none;
                text-align: right;
                padding: 20px;
                color: #fff;
                float: right;
                height: 100%;
                position: relative;
                z-index: 4;
                p{
                     margin: 10px 10px 10px auto;
                     padding: 10px;
                }
                a{
                text-decoration: none;
                    h2{
                        color: #fff;
                        padding: 10px 0px 5px 10px;
                        margin:0px;
                        font-size: 30px;
                    }
                    em{
                        font-size: 12px;
                        color: #999;
                    }
                }
                p{
                    width: 450px;
                   
                }
                
               
                
            }
            .background{
                    display: none;
                    width:100%;
                    box-shadow: inset 0px 0px 10px #000;   
                    background: #000;
                    position: absolute;
                    opacity: 0.6;
                    top: 0px;
                    left: 0px;
                    z-index: 2;
                    height: 100%;
            }
            img{
                    display: block;
                    width:100%;
                   
                    background: #000;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: 0;
            }
            &:hover{
                .info{
                    display: block;
                    
                }
                .background{
                    display: block;
                    
                }
            }
        }
    }

    .module{
        margin-top: 20px;
        h3{
            font-size: 18px;
            padding: 5px;
            margin:0px;
            text-align: center;

        }

        

        .cite{

            margin:0 auto;
            width: 70%;
            padding:5px;
            background: #333;
            border-radius: 5px;
            color: #999;
            display: block;
            font-family: 'HandleeRegular',Tahoma;
            font-size: 16px;
            height: 80px;
            box-shadow: inset 0px 0px 10px #222;
            overflow: hidden;

            strong{
                color :#f4f4f4;
            }
            p{
                margin:0px;
                padding: 5px;
            }
            em{
                font-size: 70px;
                font-weight: bold;
                font-family: garamount;
                margin: 0px;
                padding: 5px;
                color: #666;
                
                &.right{
                    float: right;
                    top: -40px;
                    position: relative;
                }

                &.left{
                    float: left;
                }

            }
        }
        
    }
}

.portfolio{
    list-style: none;
 
    
    li{
        display: inline-block;
        padding: 5px;
        margin-right:20px;
        margin-bottom:10px;
        border: 1px solid #d4d4d4;
        text-align: center;
        position: relative;
      
        a{
            text-decoration: none;
            font-size: 14px;
              width:260px;
        
            font-weight: bold;
            display: block;
            
            span{
                display: block;
                padding: 5px;
                text-align: center;
            }
        }

        img{
        width: 100%;
        height: 150px;
        
        }
    }
    

}