@font-face {
    font-family: 'HandleeRegular';
    src: url('../../font/handlee-regular-webfont.eot');
    src: url('../../font/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/handlee-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
