#footer-bg{
    width: 100%;
    display: block;
     background: #f4f4f4;

    #footer{
        padding: 10px;
        width: 950px;
        position: relative;
        text-align: left;
        //background: red;
        margin: 0 auto;
    }

}

#footer #creditos{
    margin-top:20px;
    padding-top:10px;
    background: #fff;
    display: block;
    text-align: center;
    color: #666;
    border-radius: 5px;
}

#footer{
   
    .modules{
        display: inline-block;
        width:100%;
    }

    .module{
        width: 20%;
        display: block;
        float: left;
        margin-right: 10px;

        &.medium{
        margin-right: 20px;
        width: 25%;
        }

        .title{
            display:block;
            h3{
                padding:5px;
                margin: 0px;
            }

        
        }
         dt{
            text-indent: -999px;
         }
         .tweet{
                
            display: block;
            padding: 5px 3px 8px 3px;
            border-bottom: 1px dashed #999;
            margin-left: 0;    
            p{
                font-size: 12px;
                color: #444;
                padding: 3px;
                
                margin: 0px;
            }
            em{
                &.ago{
                    color: #999;
                    margin-bottom: 5px;
                    position: relative;
                }
            }
         }
        .icon{
            width: 25px;
            height: 25px;
            display: block;
            float: left;
            margin-right: 5px;

            &.twitter{
                background: url(../../images/services/news.png) no-repeat;
                
            }

            &.jobs{
                background: url(../../images/services/jobs.png) no-repeat;
                
            }

            &.links{
                background: url(../../images/services/links.png) no-repeat;
                
            }

            &.services{
                background: url(../../images/services/services.png) no-repeat;
                
            }        
        }
        .container{
            .links{
                list-style-image: url(../../images/li/link.png);
            list-style-position: inside;
                margin:0px;
                padding: 0px;
                padding-top:15px;
                li{
                    span{
                    vertical-align: top;  
                    top: 4px;
                    position: relative;
                    }
                }
            }
            .services{

                list-style-image: url(../../images/li/photography.png);
                list-style-position: inside;
                margin:0px;
                padding: 0px;
                padding-top:15px;
                li{
                    span{
                    vertical-align: top;
                    top: 4px;
                    position: relative;
                    }
                }
                ul{

                    list-style-image: url(../../images/li/photo.png);
                    list-style-position: inside;
                    margin:0px;
                    padding: 0px;    

                    margin-left: 25px;


                }
            }
            .mini-galery{
                list-style: none;
                margin: 0px;
                padding: 0px;
                padding-top: 15px;
                li{
                    float: left;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    a{
                       display: block;
                       
                       img{
                            width: 100px;
                            height: 80px;
                           // border: 1px solid #d4d4d4;
                            
                        }
                    }
                }
            }
        }

    }
}