#header-bg{
    width: 100%;
    display: block;
    z-index:20;
    position: relative;
    #header{
        width: 950px;
        position: relative;
        text-align: left;
        //background: red;
        margin: 0 auto;
        z-index:20;
        
    }

}

#logo{
    width: 250px;
    background: url(../../images/photo_logo.png) 0px 15px no-repeat;
    padding-left: 55px;
    h1{
      padding:20px;
      padding-left: 0px;

      margin: 0px;
      font-weight: bold;
      font-size: 40px;
    }
}
#header:hover{

    #logo{
      
        background: url(../../images/photo_logo_h.png) 0px 15px no-repeat;
        
    }
}
#menu{

    list-style: none;
    padding: 5px;
    padding-left: 0px;
    
    margin: 0px;
   

     li{
      float: none;
      display: inline-block;
      position: relative;
       a{
        font-family: 'HandleeRegular',Tahoma;
       }
      
       
       a{
         
         display: block;
         padding: 4px 8px 4px 8px;
         margin-right: 6px;
         color: #666;
         font-weight: bold;
         border: 1px solid #fff;
         text-decoration: none;
         font-size: 16px;
         border: 1px solid transparent;


         &:hover{
             border-radius:30px;
             border: 1px solid #00b2de;
             background-color: #00deff;
             box-shadow: inset 0 1px 3px #4edbff, inset 0 -15px #00ccff, 0 0 3px #00b2de;
             color: #f4f4f4;

         }
       }
       &.active{

            a{
              border-radius:30px;
             border: 1px solid #00b2de;
             background-color: #00deff;
             box-shadow: inset 0 1px 3px #4edbff, inset 0 -15px #00ccff, 0 0 3px #00b2de;
             color: #f4f4f4;
            }

            ul{
                
                a{
                    color: #f4f4f4;
                    font-size: 12px;
                    padding: 0px;
                    font-family: Tahoma, Verdana, sans-serif;
                    font-weight: normal;
                    margin-right:0px;
                    display: inline-block;
                    border: none;
                    vertical-align: top;
                    background: none;
                    box-shadow: none;
                }
                
            }
        }

        ul{
              display: none;
               position: absolute;
               top: 29px;
               left: 0px;
               z-index:30;
               width: 200px;
               box-shadow: 0px 0px 5px #333;
               background: #000;
               margin: 0px;
               padding: 0px;
               padding-top:10px;
              

               opacity: 0.8;
               list-style-image: url(../../images/li/photo.png);
               list-style-position: inside;
               
               li{
                 padding: 4px 6px 6px 8px;
               
                 display: list-item;
                a{
                    
                    color: #f4f4f4;
                    font-size: 12px;
                    padding: 0px;
                    font-family: Tahoma, Verdana, sans-serif;
                    font-weight: normal;
                    margin-right:0px;
                    display: inline-block;
                    border: none;
                    vertical-align: top;
                    
                 
                     &:hover{
                        text-decoration: none;
                        box-shadow: none;
                        background: none;
                        border: none;
                        border-radius: 0px;
                        color: #fff;
                       
                    }
                }
                &:hover{
                        text-decoration: none;
                        background: #555;
                        
                        
                    }
                
               }
            
        }

        &:hover{
            ul{
                display: block;

                
             }
        }
    }

    

}

#top-info{

    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #f1f1f1;
    border-radius: 5px ;
    padding: 10px;

    div{
    margin-bottom: 5px;

    &.last{
        margin-bottom: 0px;
    } 
    }
    
    
}

#social-icons{

    display: block;
    position: absolute;
    
    right: 0px;
    bottom: 0px;
    
    
    img{
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        background: none;
        border: none;
        
    }
  
}