/* 
    borders
*/
.border-base(){
    /* */
}

.border(@border-size){
    border-radius: @border-size ;
   // -moz-border-radius: @border-size ;
   //  -webkit-border-radius: @border-size ;
   //  -o-border-radius: @border-size ;
   //  -ms-border-radius: @border-size ;
    .border-base();
}



.border-top(@border-size){
    border-top-left-radius: @border-size ;
   //  -moz-border-radius-topleft: @border-size ;
   //  -webkit-border-top-left-radius: @border-size ;
   //  -o-border-top-left-radius: @border-size ;
    // -ms-border-top-left-radius: @border-size ;

    border-top-right-radius: @border-size ;
    // -moz-border-radius-topright: @border-size ;
    // -webkit-border-top-right-radius: @border-size ;
    // -o-border-top-right-radius: @border-size ;
    // -ms-border-top-right-radius: @border-size ;
    .border-base();


}

.border-left(@border-size){
    border-top-left-radius: @border-size ;
    // -moz-border-radius-topleft: @border-size ;
    // -webkit-border-top-left-radius: @border-size ;
    // -o-border-top-left-radius: @border-size ;
    // -ms-border-top-left-radius: @border-size ;

    border-bottom-left-radius: @border-size ;
    // -moz-border-radius-bottomleft: @border-size ;
    // -webkit-border-bottom-left-radius: @border-size ;
    // -o-border-bottom-left-radius: @border-size ;
    // -ms-border-bottom-left-radius: @border-size ;
    .border-base();
}


.border-right(@border-size){

    border-top-right-radius: @border-size ;
    // -moz-border-radius-topright: @border-size ;
    // -webkit-border-top-right-radius: @border-size ;
    // -o-border-top-right-radius: @border-size ;
    // -ms-border-top-right-radius: @border-size ;

    border-bottom-right-radius: @border-size ;
    // -moz-border-radius-bottomright: @border-size ;
    // -webkit-border-bottom-right-radius: @border-size ;
    // -o-border-bottom-right-radius: @border-size ;
    // -ms-border-bottom-right-radius: @border-size ;
    .border-base();
}


.border-bottom(@border-size){
    border-bottom-right-radius: @border-size ;
    // -moz-border-radius-bottomright: @border-size ;
    // -webkit-border-bottom-right-radius: @border-size ;
    // -o-border-bottom-right-radius: @border-size ;
    // -ms-border-bottom-right-radius: @border-size ;

    border-bottom-left-radius: @border-size ;
    // -moz-border-radius-bottomleft: @border-size ;
    // -webkit-border-bottom-left-radius: @border-size ;
    // -o-border-bottom-left-radius: @border-size ;
    // -ms-border-bottom-left-radius: @border-size ;
    .border-base();
}

