/* 
   gradients
*/



.gradient-base(){
    /* */
}


.gradient-active(@from,@to){
    background: @from; 

  //   background: -moz-linear-gradient(top,  @from 0%, @to 100%); 
  //   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to)); 
  //   background: -webkit-linear-gradient(top,  @from 0%,@to 100%); 
  //   background: -o-linear-gradient(top,  @from 0%,@to 100%); 
  //   background: -ms-linear-gradient(top,  @from 0%,@to 100%); 
    background: linear-gradient(top,  @from 0%,@to 100%); 
    .gradient-base();
    .transition(@transition-normal);
    &:active{
        background: @to; 
      //   background: -moz-linear-gradient(top,  @to 0%, @from 100%); 
      //   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@to), color-stop(100%,@from)); 
      //   background: -webkit-linear-gradient(top,  @to 0%,@from 100%); 
      //   background: -o-linear-gradient(top,  @to 0%,@from 100%); 
      //   background: -ms-linear-gradient(top,  @to 0%,@from 100%); 
        background: linear-gradient(top,  @to 0%,@from 100%); 

    }
}



.gradient(@from,@to){
    background: @from; 
  //   background: -moz-linear-gradient(top,  @from 0%, @to 100%); 
  //   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(96%,@gradient-big-module-content-to)); 
  //   background: -webkit-linear-gradient(top,  @from 0%,@to 100%); 
  //   background: -o-linear-gradient(top,  @from 0%,@to 100%); 
  //   background: -ms-linear-gradient(top,  @from 0%,@to 100%); 
    background: linear-gradient(top,  @from 0%,@to 100%); 
   
   
}
