
@transition-normal: 0.3s linear all;

// parametros bordes
@border-very-small: 2px;
@border-small: 3px;
@border-medium: 5px;
@border-big: 12px;


// gradientes

@gradient-from: #a6f000;
@gradient-to: #64c500;

    @gradient-hover-from: #64c500;
    @gradient-hover-to: #53a300;

// sombras para objetos/elementos
@shadow-small: 0px 0px 5px #333333;
@shadow-medium: 0px 0px 8px #333333;  
@shadow-big: 0px 0px 15px #333333;  

// sombras para textos
@text-shadow-small: 1px 1px 0px #333333;
@text-shadow-medium: 2px 2px 0px #333333;
@text-shadow-big: 5px 5px 0px #333333;

@text-shadow-white-small:  1px 1px 0px #ffffff;
@text-shadow-white-medium: 2px 2px 0px #ffffff;
@text-shadow-white-big: 5px 5px 0px #ffffff;