/* 
    shadow
*/

.shadow-base(){
    /* */
}

.shadow(@shadow-properties){
    box-shadow:@shadow-properties;
    // -moz-box-shadow:@shadow-properties;
    // -webkit-box-shadow:@shadow-properties;
    // -o-box-shadow:@shadow-properties;
   //  -ms-box-shadow:@shadow-properties;
    .shadow-base();
}
