/* 
   text-shadow.css
*/


.text-shadow-base(){
    /* */
}

.text-shadow(@shadow-properties){
    text-shadow:@shadow-properties;
    // -moz-text-shadow:@shadow-properties;
   //  -webkit-text-shadow:@shadow-properties;
   //  -o-text-shadow:@shadow-properties;
   //  -ms-text-shadow:@shadow-properties;
    .text-shadow-base();
}
