.transition-base(){
    /* */
}

.transition(@properties){
    /* */
    transition: @properties;
   //  -webkit-transition:  @properties;
   //  -moz-transition:  @properties;
   //  -ms-transition: @properties;
   //  -o-transition:  @properties;
    .transition-base();

}
